.card-holder {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: stretch;
	position: relative;
	padding: 1rem 0;
}

.card {
	max-width: 71vh;
	border-radius: 3.044vh;
	padding: 1rem;
	flex: 1;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);

	transition: transform .4s ease-out;
}

.card:active  {
	transform: rotateY(180deg);
}