:root {
	--akzentfarbe: black; /* Lavendel */
	--akzentfarbe-light: #fc7b54;
	--akzentfarbe-dark: #902bf5;
	--highlight: #F0F0F0;

	/* Set initial font size for the h1 tag */
	font-size: 2vw; /* Adjust the value as needed */
}

@media (min-aspect-ratio: 1/1) {
	:root {
	  /* Set initial font size for the h1 tag */
		font-size: 2vh; /* Adjust the value as needed */
	}
  }

body {
	font-family: Arial, sans-serif;
	color: #333;
	background-color: #fff;
	margin: 0;
	padding: 0;

	min-height: 100vh;
	display: flex;
	flex-direction: column;


}



h1 {
	color: var(--akzentfarbe-light);
}

h1.titel {
	font-size: 2rem;
}

@media screen and (max-width: 768px) {
	/* Adjust the maximum width as needed */
	h1.titel {
		/* Set a smaller font size for smaller screens */
		font-size: 1.8rem;
	}
}
h3 {
	color: var(--akzentfarbe);
	margin: 0;
	font-size: 1.3rem;
}

section {
	padding: 2em;
}

section:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

th {
	font-weight: bold;
}

p {
	color: var(--akzentfarbe);
	margin: 0.5em 0;
}

@media (min-width: 768px) {
	section {
		padding: 1em 0.75em;
	}
}

.main-btn {
	width: 4rem;
	height: 4rem;

	border: none;
	border-radius: 100%;

	box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
	transition: .1s ease-out;
	z-index: 10;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.main-btn:enabled {
	cursor: pointer;
}

.main-btn:hover {
	background-color: var(--akzentfarbe-dark);
}

.main-btn:disabled {
	background-color: var(--highlight);
}

#deck-overview {
	position: absolute;
	top: 1rem;
	left: 1rem;

	background: #B57EDC url(./icons/deck.svg) no-repeat center;
	background-size: 70%;
}

.action-button {
	width: auto;
	margin-bottom: 1em;
	min-width: 8em;
	cursor: pointer;
	padding: 1em;
	color: var(--background-color);
	border-radius: 2%;
	background: var(--accent-color);
	border: 4px solid var(--button-color);
	box-shadow: 10px 10px 0px rgba(200, 100, 0, 0.3);
  }
  
  .action-button:hover {
	box-shadow: 6px 6px 0px rgba(200,100,0,.3);
	transform: translate(4px, 4px);
	filter: brightness(125%);
  }
